.scroll-container {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge (older versions) */
  -ms-overflow-style: none;
  /* Keep functionality in modern browsers */
  overflow-x: auto;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.image-fade::before {
  background-color: radial-gradient(red);
}
/* Light wrap glow from image */
.image-light-wrap {
  position: absolute;
  inset: 0;
  scale: 90%;
  background-size: cover;
  /* background-position: right; */

  filter: blur(4rem) saturate(140%) opacity(40%);
  /* Only show on left side */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.6) 50%,
    transparent 70%
  );
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 70%);
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2s infinite;
}
