.scroll-container {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge (older versions) */
  -ms-overflow-style: none;
  /* Keep functionality in modern browsers */
  overflow-x: auto;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Fade image from left to right */
/* .image-fade-left {
  -webkit-mask-image: linear-gradient(to right, transparent, black);
  mask-image: linear-gradient(to right, transparent, black);
} */
.image-fade-left {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 15%,
    rgba(0, 0, 0, 0.4) 30%,
    black 55%,
    black 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 15%,
    rgba(0, 0, 0, 0.4) 30%,
    black 55%,
    black 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2s infinite;
}
